.background-tr{
    background-color: #FFA55D;
}

.frame-button-edit, .frame-button-delete{
    padding: 10px;
}

.text-ellipsis{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 50%;
    white-space: no-wrap;
}